.scrollable {
  height: 3000px;
  background: linear-gradient(rgba(black ,0) 0%, rgba(black, .65) 100%);

  &__control {
    width: 200px;
    position: fixed;
    top: 80px;
    left: 20px;
  }

  &__output {
    position: fixed;
    top: 86px;
    right: 20px;
    font-size: 18px;
  }
}
